@use 'sass:map';
@use 'sass:math';
@use '../abstracts';

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  border-color: abstracts.$border-color;
}

// -----------------------------------------------------------------------------
// Text elements
// -----------------------------------------------------------------------------


small {
  font-size: math.div(1rem, abstracts.$text-scale);
}

a {
  color: abstracts.$highlight-color;
  text-decoration: underline;
}

p {
  font-size: 1rem;
  letter-spacing: 0;
}

h6, h5, h4, h3, h2, h1 {
  letter-spacing: 0.00125rem;
  color: abstracts.$title-text-color;
  margin: 0px;
}

h6 {
  font-size: 1rem * abstracts.$text-scale;
  font-weight: 500;
}

h5, h4, h3, h2, h1 {
  font-weight: 700;
}

h5 {
  font-size: 1rem * pow(abstracts.$text-scale, 2);
}

h4 {
  font-size: 1rem * pow(abstracts.$text-scale, 3);
}

h3 {
  font-size: 1rem * pow(abstracts.$text-scale, 4);
}

h2 {
  font-size: 1rem * pow(abstracts.$text-scale, 5);
}

h1 {
  font-size: 1rem * pow(abstracts.$text-scale, 6);
}

// -----------------------------------------------------------------------------
// Tag defaults
// -----------------------------------------------------------------------------


html {
  @include abstracts.fullsize;
}

body {
  @include abstracts.fullsize;
  margin: 0px;
  background-color: map.get(abstracts.$backgroud, "400");
}

input {
  height: 28px;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  background-color: map.get(abstracts.$primary, "200");
}

label {
  color: map.get(abstracts.$primary, "800");
}

article {
  background-color: map.get(abstracts.$backgroud, "100");
}

button {
  border-width: 4px;
  border-style: solid;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border-color: map.get(abstracts.$primary, "500");
  background-color: map.get(abstracts.$primary, "500");

  h5 {
    margin: 0;
  }
}
